<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HospitalManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.hms.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutController</display-name>
    <servlet-name>LogOutController</servlet-name>
    <servlet-class>com.hms.controller.LogOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutController</servlet-name>
    <url-pattern>/LogOutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnrollPatientController</display-name>
    <servlet-name>EnrollPatientController</servlet-name>
    <servlet-class>com.hms.controller.EnrollPatientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrollPatientController</servlet-name>
    <url-pattern>/EnrollPatientController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPhysicianController</display-name>
    <servlet-name>AddPhysicianController</servlet-name>
    <servlet-class>com.hms.controller.AddPhysicianController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhysicianController</servlet-name>
    <url-pattern>/AddPhysicianController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhysicianSearchController</display-name>
    <servlet-name>PhysicianSearchController</servlet-name>
    <servlet-class>com.hms.controller.PhysicianSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhysicianSearchController</servlet-name>
    <url-pattern>/PhysicianSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientHistoryController</display-name>
    <servlet-name>PatientHistoryController</servlet-name>
    <servlet-class>com.hms.controller.PatientHistoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientHistoryController</servlet-name>
    <url-pattern>/PatientHistoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientDiagnosisDetailsController</display-name>
    <servlet-name>PatientDiagnosisDetailsController</servlet-name>
    <servlet-class>com.hms.controller.PatientDiagnosisDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientDiagnosisDetailsController</servlet-name>
    <url-pattern>/PatientDiagnosisDetailsController</url-pattern>
  </servlet-mapping>
</web-app>